/*
預設文字
*/
body{
font-family: 'Noto Sans TC', sans-serif;
}
/*
所有圖片的預設樣式
自動放大到與div相同大小
*/
img{
    color:black;
    max-width: 100%;
}
/*
預設清單風格
*/
ul{
    //margin:0;
    //padding: 0;
    list-style: none;
}